@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 640px) {
    select,
    textarea,
    input {
        font-size: 1.2rem !important;
    }
}

/* Custom CSS */

.blogpost-content {
    color: #e5e7eb;
    font-size: 1rem;
    line-height: 1.5rem;

    p {
        margin-top: 1rem; 
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 1rem;
        margin-top: 1rem; 

        li {
            margin: 0.2rem 0;
        }
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
        padding-left: 1rem;

        li {
            margin: 0.2rem 0;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }

    h3 {
        font-size: 1.25rem;
        margin: 1rem 0;
    }

    pre {
        background-color: #282c34;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        max-width: 90vw;

        code {
            overflow: auto;
            display: block !important;
            max-width: 100%;
        }

        .copy-button {
            font-size: 0.8rem;
            background-color: #44475a;
            color: #f8f8f2;
            border: none;
            padding: 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }

    img {
        max-width: 100%;
        border-radius: 0.5rem;
        margin: 1rem 0;
    }

    a {
        color: #63b3ed;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: #b2f5ea;
            text-decoration: underline;
        }
    }
}

label {
    span {
        color: #e5e7eb;
    }
}
